.hero {
  margin-top: 70px;
  // .hero__row
  &__row {
    display: flex;
    gap: 20px;
    @include _lg {
      flex-direction: column-reverse;
    }
  }
  // .hero__col
  &__col {
    // FIXME: Изменить когда появится фото
    // width: 50%;
    position: relative;

    @include _lg {
      width: auto;
    }
  }
  // .hero__image
  &__image {
    position: relative;
    padding-bottom: 56.2%;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.about {
  // .about__title
  &__title {
    margin: 0;
    font-size: calc(28px + 6 * (100vw - 320px) / 880);
    font-weight: 700;

    span {
      &::after {
        content: ".";
        color: $blue;
      }
    }
  }
  // .about__description
  &__description {
    margin: 5px 0 10px 0;
    font-family: $Montserrat;
  }
  // .about__info
  &__info {
    font-family: $Montserrat;
  }
  // .about__send
  &__send {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.info {
  // .info__item
  &__item {
    padding: 5px 0;

    &:last-child {
      display: flex;
      align-items: center;
    }
  }
  // .info__title
  &__title {
    text-transform: uppercase;
    font-size: 12px;
  }
  // .info__link
  &__link {
    padding-left: 20px;
    display: inline-block;
    text-decoration: none;
    color: $secondary;

    &:nth-of-type(2) {
      stroke: $primary;
    }

    &:hover .info__social-icon {
      fill: $blue;
    }
    &:hover:nth-of-type(2) {
      stroke: $blue;
    }
  }
  // .info__social-icon
  &__social-icon {
    width: 20px;
    height: 20px;
    fill: $primary;
    transition: 0.3s;
  }
}
.send {
  // .send__button
  &__button {
    padding: 15px 30px;
    text-transform: uppercase;
    border: none;
    font-family: $Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: $primary;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;

    @include _sm {
      width: 100%;
      text-align: center;
    }

    // .send__button--blue
    &--blue {
      background: $blue;
      color: #fff;
      &:hover {
        background: #005fc1;
      }
    }
    // .send__button--gray
    &--gray {
      background: #efefef;
      text-decoration: none;

      &:hover {
        background: #c8c8c8;
      }
    }
  }
}
