.skills {
  // .skills__wrap
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @include _md {
      gap: 20px;
    }
  }
  // .skills__head
  &__head {
  }
  // .skills__body
  &__body {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: 100px 100px;
    gap: 20px;

    @include _customWidth(635px) {
      grid-template-rows: auto;
    }
  }
  // .skills__item
  &__item {
    &:nth-of-type(1) {
      border-bottom: 1px solid rgba(227, 227, 227, 0.6);
      @include _customWidth(635px) {
        border-bottom: 0;
      }
    }
    &:nth-of-type(2) {
      border-bottom: 1px solid rgba(227, 227, 227, 0.671);
      @include _customWidth(635px) {
        border-bottom: 0;
      }
    }

    @include _customWidth(635px) {
      padding-top: 5px;
    }
  }
}
.skill {
  // .skill__head
  &__head {
  }
  // .skill__title
  &__title {
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    font-family: $Montserrat;
  }
  // .skill__body
  &__body {
    font-size: 14px;
    color: $secondary;
    font-weight: 500;
    font-family: $Montserrat;
    line-height: 24px;
  }
}
