<div class="mobile-menu">
  <div class="mobile-menu__close">
    <i class="close__icon material-icons">close</i>
  </div>
  <div class="mobile-menu__content">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#hello" class="mobile-menu__link" data-i18n="hello">hello</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#skills" class="mobile-menu__link" data-i18n="skills">skills</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#experience" class="mobile-menu__link" data-i18n="experience">experience</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#education" class="mobile-menu__link" data-i18n="education">education</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#portfolio" class="mobile-menu__link" data-i18n="portfolio">portfolio</a>
      </li>
      <!-- <li class="mobile-menu__item">
        <a href="#contact" class="mobile-menu__link" data-i18n="contact">contact me</a>
      </li> -->
      <li class="mobile-menu__item"></li>
    </ul>
  </div>
</div>
