<section id="contact" class="section contact">
  <div class="section__wrap contact__wrap container">
    @@include('./components/section-aside.html', { "title":"contact", description:'dewdwedewdw' } )
    <div class="section__content contact__body">
      <form id="form" action="send.php" method="POST" class="contact__form">
        <div class="form__input-group">
          <div class="field">
            <input class="field__input js-contact-field" type="text" name="name" id="name" placeholder="Name" data-i18n="name_placeholder" />
          </div>
          <div class="field">
            <input class="field__input js-contact-field" type="email" name="mail" id="mail" placeholder="E-mail" data-i18n="email_placeholder" />
          </div>
        </div>
        <div class="form__textarea-group">
          <textarea class="field__textarea js-contact-field" name="message" id="message" placeholder="Message" data-i18n="msg_placeholder"></textarea>
          <div class="form__button-wrap">
            <button class="form__button" type="submit" data-i18n="send_msg">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
