<section id="education" class="section education">
  <div class="section__wrap education__wrap container">
    @@include('./components/section-aside.html', { "title":"education", "description":"I try to learn something new every day. Constantly follow the innovations in the frontend" })
    <div class="section__content education__body">
      <ul class="list education__list">
        <li class="list__item education__item">
          <div class="list__inner course">
            <div class="list__head course__head">
              <div class="list__name course__name">HTML,CSS, JAVASCRIPT</div>
              <div class="list__subname course__company">Code Basic</div>
            </div>
            <div class="list__date course__date" data-i18n="course_one_date">December, 2021 — December, 2021</div>
            <div class="list__body course__body" data-i18n="course_one_desc">Working with the basics of HTML and CSS. Learning the basic concepts of the JavaScript programming language</div>
          </div>
        </li>
        <li class="list__item education__item">
          <div class="list__inner course">
            <div class="list__head course__head">
              <div class="list__name course__name">JavaScript/Front-end. Pre-School 2022</div>
              <div class="list__subname course__company">RS School</div>
            </div>
            <div class="list__date course__date" data-i18n="course_two_date">December, 2021 — March, 2022</div>
            <div class="list__body course__body" data-i18n="course_two_desc">
              Learning HTML, CSS. Practical web site development. JavaScript Deep Learning (Functions, Objects, Arrays, Algorithms and Data Structures)
            </div>
          </div>
        </li>
        <li class="list__item education__item">
          <div class="list__inner course">
            <div class="list__head course__head">
              <div class="list__name course__name">JavaScript/Front-end</div>
              <div class="list__subname course__company">RS School</div>
            </div>
            <div class="list__date course__date" data-i18n="course_three_date">March, 2022 — September, 2022</div>
            <div class="list__body course__body" data-i18n="course_three_desc">
              Learning JavaScript, Solving algorithmic problems. Learning the basics of NodeJS. OOP, asynchronous programming. Learning TypeScript
            </div>
          </div>
        </li>
        <li class="list__item education__item">
          <div class="list__inner course">
            <div class="list__head course__head">
              <div class="list__name course__name" data-i18n="course_four_name">The Modern JavaScript Tutorial</div>
              <div class="list__subname course__company">JAVASCRIPT.RU</div>
            </div>
            <div class="list__date course__date" data-i18n="course_four_date">constantly</div>
            <div class="list__body course__body" data-i18n="course_four_desc">I use the textbook as a cheat sheet.</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
