<section id="experience" class="section experience">
  <div class="section__wrap experience__wrap container">
    @@include('./components/section-aside.html', { "title":"experience", "description":"I want to work in a good team on cool projects."})
    <div class="section__content experience__body">
      <ul class="list experience__list">
        <!-- <li class="list__item experience__item">
          <div class="list__inner job">
            <div class="list__head job__head">
              <h4 class="list__name job__title" data-i18n="job title">Junior Web Developer</h4>
              <div class="list__subname job__subtitle">Cube Studio</div>
            </div>
            <div class="list__date job__date" data-i18n="job date">May, 2022 — September, 2022</div>
            <div class="list__body job__body" data-i18n="job desc">Created a landing page. Edited websites and corrected errors. Participated in the creation of components on Vue.js</div>
          </div>
        </li> -->
        <li class="list__item experience__item">
          <div class="list__inner job">
            <div class="list__head job__head">
              <h4 class="list__name job__title" data-i18n="new job">Junior Frontend Developer</h4>
              <div class="list__subname job__subtitle" data-i18n="new company">Your company</div>
            </div>
            <div class="list__date job__date" data-i18n="now">Now</div>
            <div class="list__body job__body" data-i18n="new desc">I do not have much commercial development experience, but I have a great desire to get it in your company.</div>
            <a href="https://t.me/lexa_maskall" class="job__button" data-i18n="contact">Contact me</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
