<header id="header" class="header">
  <div class="header__wrap container">
    <div class="header__logo">
      <h3 class="logo">Resume</h3>
    </div>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#hello" class="nav__link" data-i18n="hello">hello</a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link" data-i18n="skills">skills</a>
        </li>
        <li class="nav__item">
          <a href="#experience" class="nav__link" data-i18n="experience">experience</a>
        </li>
        <li class="nav__item">
          <a href="#education" class="nav__link" data-i18n="education">education</a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link" data-i18n="portfolio">portfolio</a>
        </li>
        <!-- <li class="nav__item">
          <a href="#contact" class="nav__link" data-i18n="contact">contact me</a>
        </li> -->
      </ul>
    </nav>
    <div class="header__lang lang">
      <input class="header__lang-input lang__input" type="radio" name="lang-input" id="en" checked />
      <label for="en" class="header__lang-label lang__item">en</label>
      <span></span>
      <input class="header__lang-input lang__input" type="radio" name="lang-input" id="ru" />
      <label for="ru" class="header__lang-label lang__item">ru</label>
    </div>

    <div class="header__mobile-button material-icons">menu</div>
  </div>
</header>

@@include('./components/mobile-menu.html')
