<section id="hello" class="section hero">
  <div class="hero__row container">
    <div class="hero__col about">
      <div class="about__content">
        <h1 class="about__title">
          <span data-i18n="fullname">Alexey Brazhnikov</span>
        </h1>
        <p class="about__description" data-i18n="about">
          Hi, I am a junior frontend developer. I want to be part of a friendly and professional team where I can develop my development skills. I am a communicative and responsible person, eager to
          grow professionally and improve my skills.
        </p>
        <div class="about__info">
          <div class="info__item">
            <strong class="info__title" data-i18n="phone">Phone</strong>
            <a href="tel:+79685475768" class="info__link">+7 (968) 547 57 65</a>
          </div>
          <div class="info__item">
            <strong class="info__title" data-i18n="email">email</strong>
            <a href="mailto:alekseybrazhnikov93@gmail.com" class="info__link">alekseybrazhnikov93@gmail.com</a>
          </div>
          <div class="info__item">
            <strong class="info__title" data-i18n="social">social</strong>
            <a href="https://vk.com/lexa_maskall" class="info__link" title="vkontakte">
              <svg class="info__social-icon">
                <use xlink:href="images/sprite/icon.svg#vk" />
              </svg>
            </a>
            <a href="https://instagram.com/lexa_maskall" class="info__link" title="instagram">
              <svg class="info__social-icon">
                <use xlink:href="images/sprite/icon.svg#instagram" />
              </svg>
            </a>
            <a href="https://t.me/lexa_maskall" class="info__link" title="telegram">
              <svg class="info__social-icon">
                <use xlink:href="images/sprite/icon.svg#telegram" />
              </svg>
            </a>
            <a href="https://github.com/lex-gh" class="info__link" title="github">
              <svg class="info__social-icon">
                <use xlink:href="images/sprite/icon.svg#github" />
              </svg>
            </a>
          </div>
        </div>
        <div class="about__send">
          <a href="https://t.me/lexa_maskall" class="send__button send__button--blue" data-i18n="contact">Contact me</a>
          <a href="files/brazhnikov_aleksey.pdf" download="files/brazhnikov_aleksey.pdf" class="send__button send__button--gray" data-i18n="download">Download CV</a>
        </div>
      </div>
    </div>
    <!-- <div class="hero__col">
      <div class="hero__image">
        <img src="https://previews.aspirity.com/danny/media/hello-section/image.jpg" alt="" srcset="" />
      </div>
    </div> -->
  </div>
</section>
