<section id="skills" class="section skills">
  <div class="section__wrap skills__wrap container">
    @@include('./components/section-aside.html', { "title": "Skills", "description":"I constantly study and practice all the innovations in the field of Frontend development", })
    <div class="section__content skills__body">
      <div class="skills__item">
        <div class="skill__head">
          <h4 class="skill__title" data-i18n="frontend">Frontend Development</h4>
        </div>

        <div class="skill__body">HTML, CSS, SASS, tailwindCSS, JavaScript, Bootstrap, Vue, Vuex, Pinia, Webpack, Vite</div>
      </div>
      <div class="skills__item">
        <div class="skill__head">
          <h4 class="skill__title" data-i18n="backend">Backend Development</h4>
        </div>

        <div class="skill__body">Node.js, Express, MongoDB, Postman</div>
      </div>
      <div class="skills__item">
        <div class="skill__head">
          <h4 class="skill__title" data-i18n="design">UI\UX Design</h4>
        </div>
        <div class="skill__body">Photoshop, Illustrator, Figma</div>
      </div>
      <div class="skills__item">
        <div class="skill__head">
          <h4 class="skill__title" data-i18n="programs">Developer Tools</h4>
        </div>

        <div class="skill__body">VSCode, Git</div>
      </div>
    </div>
  </div>
</section>
