* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  height: 2000px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: $bgColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @include _xl {
    max-width: 970px;
  }
  @include _lg {
    max-width: 750px;
  }
}

// Sections
.section {
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(227, 227, 227, 0.6);
  scroll-margin-top: 70px;
  // .section__wrap
  &__wrap {
    display: flex;
    gap: 40px;
    @include _lg {
      flex-wrap: wrap;
    }
  }
  // .section__aside
  &__aside {
    width: 33.33%;
    min-width: 33.33%;
    align-self: baseline;
    position: sticky;
    top: 85px;
    @include _lg {
      width: 100%;
      position: static;
      top: 0;
    }
  }
  // .section__title
  &__title {
    margin: 0;
    font-size: 30px;

    &::first-letter {
      text-transform: uppercase;
    }
    span {
      &::after {
        content: ".";
        color: $blue;
      }
    }
  }
  // .section__description
  &__description {
    margin: 0;
    color: $secondary;
  }
  // .section__content
  &__content {
  }
}

// Section List

.list {
  margin: 0;
  padding: 0;
  // .list__item
  &__item {
    list-style: none;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(227, 227, 227, 0.6);
      margin-bottom: 24px;
    }
  }
  // .list__inner
  &__inner {
  }
  // .list__head
  &__head {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  // .list__name
  &__name {
    margin: 0;
    font-family: $Montserrat;
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
  }
  // .list__subname
  &__subname {
    font-family: $Montserrat;
    color: $secondary;
  }
  // .list__datecourse
  &__date {
    font-family: $Montserrat;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
  }

  // .list__body
  &__body {
    font-family: $Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
